#main-nav {
    position: fixed;
    width: 50px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #EEE;
    z-index: 2;
}
#app-body {
    margin-left: 50px;
    padding-top: 15px;
    z-index: 1;
}
@media all and (max-width: 400px) {
    #main-nav {
        position: fixed;
        width: auto;
        height: 35px;
        top: 0;
        left: 0;
        right: 0;
        bottom: initial;
    }
    #main-nav > ez-fly {
        display: inline-block;
        float: left;
    }
    #main-nav .btn {
        width: auto;
    }
    #app-body {
        margin-left: auto;
        padding-top: 50px;
        z-index: 1;
    }
}