 input[type="radio"] {
     margin-top: 13px;
 }
 .checbox-md input[type="checkbox"]:checked:before {
     top: -2px;
     left: 8px;
     width: 6px;
     height: 17px;
 }
 .checbox-md input[type="checkbox"]:after,
 .radio-md input[type="radio"]:after,
 .radio-md input[type="radio"]:before {
     width: 22px;
     height: 22px;
 }
 .checkbox-lg input[type="checkbox"]:checked:before {
     top: -2px;
     left: 9px;
     width: 8px;
     height: 20px;
 }
 .checkbox-lg input[type="checkbox"]:after,
 .radio-lg input[type="radio"]:after,
 .radio-lg input[type="radio"]:before {
     width: 26px;
     height: 26px;
 }
 .radio,
 .checkbox {
     display: inline-block;
 }
 .radio.radio-block,
 .checkbox.checkbox-block {
     display: block;
 }
 /*------------------------------*/
 
 .checkbox > label,
 .radio > label {
     padding-left: 25px;
     padding-right: 10px;
 }
 /*------------------------------*/
 
 .radio+.radio,
 .checkbox+.checkbox {
     margin-left: 0;
 }
 /*------------------------------*/
 
 .checkbox-md > label,
 .radio-md > label {
     font-size: 22px;
     font-weight: 100;
 }
 /*------------------------------*/
 
 .checkbox-lg > label,
 .radio-lg > label {
     font-size: 26px;
     font-weight: 100;
 }